<div
  class="smartphone-background"
  [ngStyle]="{
    visibility: showSmartphone ? 'visible' : 'hidden',
    opacity: showSmartphone ? 1 : 0,
  }"
>
  <div class="holder">
    <!--
    callrequest: {{!!callRequest}}, callingTargetPlayer: {{!!callingTargetPlayer}}, api: {{!!api}}
    -->
    <div *ngIf="player" class="text-center mb-4">
      <b class="text-xl">My phone number:</b>
      <br />
      {{ currentUserPhoneNumber }}
    </div>
    <!-- Another user calls this user -->
    <div
      *ngIf="!api && callRequest && callRequest?.fromPlayerName !== player?.name"
      class="content-center grid justify-items-center"
    >
      <p class="mb-4">
        <b>{{ callRequest.fromPlayerName }}</b>
        <br />
        ({{ callRequest.fromPhoneNumber }})
      </p>
      <div class="grid grid-cols-2 justify-items-center">
        <p-button
          label="Accept"
          icon="pi pi-phone"
          (onClick)="acceptCall()"
          [raised]="true"
        />
        <p-button
          label="Decline"
          icon="pi pi-times"
          (onClick)="stopCall()"
          severity="danger"
          [raised]="true"
        />
      </div>
    </div>
    <!-- This user calls another user -->
    <div *ngIf="api && callRequest?.fromPlayerName === player?.name" class="content-center grid justify-items-center">
      <p class="mb-4">
        <b>{{ callRequest!.fromPlayerName }}</b>
        <br />
        ({{ callRequest!.fromPhoneNumber }})
      </p>
      <p-button
        label="Stop call"
        icon="pi pi-times"
        (click)="stopCall()"
        [raised]="true"
        severity="danger"
      ></p-button>
    </div>
    <!-- This user is in a call with another user -->
    <div *ngIf="api && callRequest?.fromPlayerName !== player?.name" class="content-center grid justify-items-center">
      <p class="mb-4">
        <b>{{ callRequest!.toPlayerName }}</b>
        <br />
        ({{ callRequest!.toPhoneNumber }})
      </p>
      <p-button
        label="Stop call"
        icon="pi pi-times"
        (click)="stopCall()"
        [raised]="true"
        severity="danger"
      ></p-button>
    </div>
    <!-- Contacts -->
    <div *ngIf="!api && !callRequest" class="flex flex-col gap-2">
      <h2 class="text-xl mb-3">Contacts</h2>
      <div class="mb-4">
        <div *ngIf="contacts.length === 0">No contacts added yet.</div>
        <div
          *ngFor="let contact of contacts"
          class="grid grid-cols-6 items-center"
        >
          <div class="col-span-4 p-2">
            {{ contact.contactName }}
            <br />
            {{ contact.phoneNumber }}
          </div>
          <p-button
            class="justify-self-end"
            icon="pi pi-phone"
            (click)="requestCall(contact)"
            [raised]="true"
          ></p-button>
          <p-button
            class="justify-self-end"
            icon="pi pi-times"
            (click)="removeContact(contact)"
            [raised]="true"
            severity="danger"
          ></p-button>
        </div>
      </div>
      <h2 class="text-xl mb-1">Add contact</h2>
      <input
        class="mb-1"
        placeholder="Name"
        pInputText
        [(ngModel)]="contactToAdd"
        autocomplete="off"
      />
      <input
        class="mb-1"
        placeholder="Phone number"
        pInputText
        [(ngModel)]="phoneNumberToAdd"
        autocomplete="off"
      />
      <p-button
        [disabled]="
          contactToAdd.trim() === '' || phoneNumberToAdd.trim() === ''
        "
        (onClick)="addContact(contactToAdd, phoneNumberToAdd)"
        label="Add contact"
      />
    </div>
  </div>
</div>
