.smartphone-background {
    position: relative;
    width: 200px;
    height: 400px;
    background-image: url("/smartphone.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.holder {
    background: white;
    position: absolute;
    left: 7px;
    top: 41px;
    bottom: 39px;
    right: 12px;
    padding: 12px;
}