<div class="p-10 dark-mode grid grid-cols-1 gap-5">
  <p class="text-xl"><i class="pi pi-user"></i> Users</p>

  <p-table [value]="players">
    <ng-template #header>
      <tr>
        <th>ID</th>
        <th>Is admin?</th>
        <th>Name</th>
        <th>Phone numbers</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-player>
      <tr>
        <td>{{ player.playerId }}</td>
        <td>{{ isAdmin(player) }}</td>
        <td>{{ player.name }}</td>
        <td>{{ getPhoneNumbers(player) }}</td>
        <td class="flex flex-row gap-3">
          <p-button
            (onClick)="teleportToPlayer(player)"
            icon="pi pi-indian-rupee"
            label="Teleport"
          />
          <p-button icon="pi pi-phone" label="Call" (onClick)="call(player)" />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p class="text-xl"><i class="pi pi-phone"></i> Calls</p>

  <p-table [value]="calls">
    <ng-template #header>
      <tr>
        <th>From name</th>
        <th>From phone number</th>
        <th>To name</th>
        <th>To phone number</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-call>
      <tr>
        <td>{{ call.fromPlayerName }}</td>
        <td>{{ call.fromPhoneNumber }}</td>
        <td>{{ call.toPlayerName }}</td>
        <td>{{ call.toPhoneNumber }}</td>
        <td class="flex flex-row gap-3">
          <p-button
            icon="pi pi-phone"
            label="Join call"
            (onClick)="listenToCall(call)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p class="text-xl"><i class="pi pi-phone"></i> My phone numbers</p>

  <p-table [value]="adminPhoneNumbers">
    <ng-template #header>
      <tr>
        <th>Display name</th>
        <th>Phone number</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-contact>
      <tr>
        <td>
          {{
            contact.contactName === ""
              ? "(No display name)"
              : contact.contactName
          }}
        </td>
        <td>{{ contact.phoneNumber }}</td>
        <td class="flex flex-row gap-3">
          <p-button
            icon="pi pi-phone"
            label="Delete phone number"
            (onClick)="deleteAdminNumber(contact)"
            severity="danger"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="flex gap-3">
    <input
      placeholder="Display name"
      pInputText
      [(ngModel)]="displayNameForNewPhoneNumber"
      autocomplete="off"
    />
    <input
      placeholder="Phone number"
      pInputText
      [(ngModel)]="phoneNumberForNewPhoneNumber"
      autocomplete="off"
    />
    <p-button
      icon="pi pi-phone"
      label="Add phone number"
      (onClick)="addPhoneNumber()"
      severity="primary"
    />
  </div>

  <p class="text-xl"><i class="pi pi-indian-rupee"></i> Teleport to areas</p>

  <div class="flex gap-3 flex-wrap">
    <p-button
      *ngFor="let object of objects"
      (onClick)="teleportToObject(object)"
      [label]="'#' + object.name"
      severity="info"
    />
  </div>

  <p class="text-xl">
    <i class="pi pi-volume-up"></i> Play sounds for everyone
  </p>
  <p class="flex gap-3">
    <p-button
      icon="pi pi-play"
      label="Guitar"
      (onClick)="playSoundForAll('/map-storage/maps/guitar.mp3')"
    />
    <p-button
      icon="pi pi-play"
      label="Crowd talking"
      (onClick)="playSoundForAll('/map-storage/maps/crowd-talking-1.mp3')"
    />
  </p>

  <p class="text-xl"><i class="pi pi-clock"></i> Time</p>
  <div class="flex gap-3">
    <p-inputnumber [(ngModel)]="worldTimeHours" suffix=" hours" />
    <p-inputnumber [(ngModel)]="worldTimeMinutes" suffix=" minutes" />
    <p-button icon="pi pi-clock" label="Set world time" (onClick)="setTime()" />
  </div>
  <div class="flex gap-3">
    <p-inputnumber [(ngModel)]="countdownMinutes" suffix=" minutes" />
    <p-inputnumber [(ngModel)]="countdownSeconds" suffix=" seconds" />
    <p-button
      icon="pi pi-stopwatch"
      label="Set countdown"
      (onClick)="setCountdown()"
      severity="primary"
    />
    <p-button
      icon="pi pi-trash"
      label="Remove countdown"
      (onClick)="resetCountdown()"
      severity="danger"
    />
  </div>

  <p class="text-xl"><i class="pi pi-microphone"></i> Broadcasting</p>
  <p-button label="Start broadcast" (onClick)="startBroadcast()" />

  <p class="text-xl">
    <i class="pi pi-exclamation-triangle"></i> Developer options
  </p>
  <p-button
    [label]="developerMode ? 'Disable developer mode' : 'Enable developer mode'"
    (onClick)="toggleDeveloperMode()"
    [severity]="developerMode ? 'primary' : 'danger'"
  />
</div>
