@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
app-root {
  background: none transparent;
  width: 100%;
  height: 100%;
  display: block;
}

html {
    font-size: 14px;
}